header {
	background-image: url(img/capa-background4.jpg);	
	background-size: cover;
	background-position: top center;
	height: 100vh;
	position: relative;
}

.navbar-header a {
	font-family: 'Nothing You Could Do', cursive;
	font-size: 1.35em;
}

.social-icons-menu a {
	color: #777;
	text-decoration: none;
	position: relative;
    display: inline-block;
    padding: 10px 15px;
}

.social-icons-menu a:active,
.social-icons-menu a:hover {
	color: lightblue;
}

.capa img {
	width: 200px;	
	border-radius: 100%;	
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: 0.3s;
}

.capa h1 {
	font-family: 'Nothing You Could Do', cursive;
	color: white;
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -30%);
	width: fit-content;
}

.row:after {
	display: inline;
}

.foto-sobre {
	margin-bottom: 10px;
}

.sobre-texto {
	text-align: justify;
	text-indent: 20px;	
}

.sobre-texto p {	
	margin: 0 0 9px 0;
	word-wrap: break-word;
}

.separador {
	text-align: center;
	font-family: 'Lovers Quarrel', cursive;	
}

.separador h3 {
	font-size: 2.2em;
}

.hobbies-capa {
	overflow: hidden;
}

.hobbies-capa img {
	width: 100%;	
	transition: all 0.3s;
}

.hobbies-capa:hover img {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.hobbies-capa:hover h3 {
	text-decoration: underline;
}

.item {
	height: 100%;
	display: fit-content;
	font-size: 0.7em;
}

.audio-box {
	background-color: ;
	height: 200px;
	margin-bottom: 15px;
}

.audio-box-title {
	color: black;
	text-align: center;
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -65%);
}

.audio-player {
	width: 80%;
	position: absolute;
	top: 65%;
	left: 50%;
	transform: translate(-50%, -35%);
}

#parallaxBar{
    height:340px;    
    background-color:#004c82;
    background: url(img/pordosol.jpg) 100% 100% fixed no-repeat;    
    position: relative;
    background-size: 100%;
}

.element.style {
	background-position: 50% 210px;
}

footer {
	text-align: center;
	background-color: #333;
	color: #FFF;
}

.footer-title {
	padding: 20px 0 15px 0;
}

.social-icons {
	padding-bottom: 20px;
}

.social-icons a{
	color: whitesmoke;
	font-size: 2em;  
  	margin: 20px;  	
  	transition: text-shadow 0.3s;
}
  
.social-icons a:active,
.social-icons a:hover{
  	text-shadow: 0px 0px 15px rgba(255,255,255,0.8);
  	text-decoration: none;
}  

@media (min-width: 768px) {
	.foto-sobre {		
		padding-right: 0;
		margin: 0 20px 20px 0;	
	}

	.social-icons-menu a {
		padding-top: 15px;
    	padding-bottom: 15px;
	}

	#parallaxBar{
    	height:520px;    	
	}
}

@media (min-width: 1024px) {
	#parallaxBar{
		background-image: url(img/pordosol-1024px.jpg);
    	height:520px;    	 	
	}
}

@media (min-width: 1440px) {
	#parallaxBar{
    	height:640px;    	
	}
}